/* body{
    background-color: #222;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}


.NotesList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;     
    padding: 20px;                 
}

.Note{
    height: 400px;
    width: 300px;
    background-color: #111;
    padding: 16px;               
    border: 2px solid #444; 
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        border-color 0.25s ease;
}

.Note:hover {
    transform: scale(1.05) translateY(-6px);
    border-color: rgb(57, 57, 57);

    box-shadow:
        0 12px 30px rgba(90, 90, 91, 0.35),
        0 0 20px rgba(130, 130, 131, 0.6);
} */

body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.NotesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
